:root {
  --color-1: #254170;
  --color-2: white;
  --leaf-dark: #198409;
  --leaf-light: #3bb529;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: solid 1px black; */
}

body {
  font-family: system-ui, Helvetica, Arial, sans-serif;
}

#list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 200px;
  /* grid-column-gap: 2rem; */
  grid-row-gap: 3rem;
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}
#list article {
  position: relative;
  /* background: rgba(0,0,0,.2); */
}

#list article:nth-of-type(3n - 1) {
  border-left: solid 3px #f2f2f2;
  border-right: solid 3px #f2f2f2;
}
#list article h1 {
  font-size: 1rem;
  position: absolute;
  display: block;
  bottom: 0;
  width: 80%;
  left: 0;
  right: 0;
  margin: 0 auto;
  line-height: 2em;
  padding: .75rem;
  text-align: center;
  background: var(--leaf-dark);
  color: var(--color-2);
  border-radius: 90% 0 90% 0;
  z-index: 1;
}
#list article h1::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--leaf-light);
  border-radius: 0 90% 0 90%;
  z-index: -1;
}
#list article div {
  border-radius: 100%;
  width: 100%;
  height: 100%;
  /* background: var(--color-1); */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
}

#detail {
  position: fixed;
  background: grey;
  width: 100vw;
  height: 100vh;
  top: 0;
  z-index: 1;
  padding: 50px;
  overflow-y: scroll;
  transform: translateX(100vw);
  transition: transform .3s ease;
}
.showDetail {
  overflow: hidden;
}
.showDetail #detail {
  transform: translateX(0);
}

#detail div {
  width: 100%;
  height: 300px;
  background-size: contain;
  background-repeat: no-repeat;
}
#detail ul {
  display: flex;
  flex-wrap: wrap;
}
#detail ul li {
  flex-grow: 1;
  flex-basis: 33.33%;
  min-width: 200px;
  display: flex;

}
#detail ul li div {
  width: 100px;
  height: 100px;
  background: red;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

#loader-overlay {
  width: 100vw;
  height: 100vh;
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  align-items: center;
  justify-content: center;
  z-index: 2;
  background: rgba(255,255,255,.5);
}

#loader-overlay.loading {
  display: flex;
}

#loader-overlay > div {
  width: 15vw;
  height: 15vw;
  min-width: 100px;
  min-height: 100px;
  position: relative;
}

#loader-overlay > div div {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  box-sizing: border-box;
  border-radius: 100%;
  border: solid 1vw rgba(0,0,0,0);
  border-top-color: rgba(0,0,0,.75);
  animation-name: spinLayers;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: normal;
}

@keyframes spinLayers {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg)
  }
}
